<h3>{{viewTittle}}</h3>

<form action="/fyp" method="POST" autocomplete="off">
 <input type="hidden" name="_id" value="{{fyp._id}}">


    <div class="form-group">
        <label>Batch Year</label>
        <input type="text" class="form-control" name="batch_Year" placeholder="Batch Year" value="{{fyp.batch_Year}}">

         <div class="text-danger">
            {{fyp.batch_YearError}}</div>
            </div>
            
    <div class="form-group">
        <label>Roll No</label>
        <input type="text" class="form-control" name="roll_No" placeholder="Roll No"  value="{{fyp.roll_No}}">
        </div>
           <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email"  value="{{fyp.email}}">
        <div class="text-danger">
            {{employee.emailError}}</div>
    </div>
    <div class="form-group">
        <label>Student Name</label>
        <input type="text" class="form-control" name="student_Name" placeholder="Student Name"  value="{{fyp.student_Name}}" >
         
    <div class="form-group">
        <label>Project Name</label>
        <input type="text" class="form-control" name="project_Name" placeholder="Project Name"  value="{{fyp.project_Name}}">
    </div>
    <div class="form-group">
        <label>Project Supervisor</label>
        <input type="text" class="form-control" name="project_Supervisor" placeholder="Project Supervisor"  value="{{fyp.project_Supervisor}}" >

    

    </div>
    <div class="form-group">
        <label>External Supervisor</label>
        <input type="text" class="form-control" name="external_Supervisor" placeholder="External Supervisor"  value="{{fyp.external_Supervisor}}">
  
    

    </div>
    <div class="form-group">
        <label>Co Supervisor</label>
        <input type="text" class="form-control" name="co_Supervisor" placeholder="Co Supervisor"  value="{{fyp.co_Supervisor}}">
         

    </div>
    <div class="form-group">
        <label>Project id</label>
        <input type="text" class="form-control" name="project_id" placeholder="Project id" value="{{fyp.project_id}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        <a class="btn btn-secondary" href="/fyp/list"><i class="fa fa-list-alt"></i> View All</a>

    </div>
</form>